body {
    background-color: rgb(233, 233, 233);
}

reg-form {
    text-align: center;
    background-color: grey;
}

center-align {
    text-align: center;
}

fas1 {
    padding: 35px 5px;
}

btn-pad {    
    padding: 5px;
    background-color: black;
    font-size: 40px;
}