{% extends "base.html" %}
{% block content %}

<div class="div container-fluid">
    <div class="div row">
        <div class="div col-2"></div>
            <div class="div col-8"><h3 class="text-center">Here comes a bunch of happy albums for your mood!</h3></div>
        <div class="div col-2"></div>
    </div>

    <!-- <div class="row">
        <div class="div col-2"></div>
            <div class="col-lg-8 text-center">albums are gonna be right here -->


            <div class="row">
                <div class="div col-2"></div>           
                    <div class="col-lg-8 text-center">
                        {% for happy in happy %}
                            <a href ="{{ happy.spotify }}" target="_blank"><img src ="{{ happy.artwork }}" class="album-artwork" {{ happy.spotify }}></a><br>
                            <h4 class="happy">Artist: {{ happy.artist }}</h4><br>
                            {{ happy.title }}<br>
                            {{ happy.mood }}<br>
                            {{ happy.genre }}<br>
                            {{ happy.year }}<br>
                            {{ happy.is_fav }}<br>
                            <a href ="{{ happy.spotify }}" target="_blank">{{ happy.spotify }}</a><br><br>
                        {% endfor %}  
                    </div>
            <!-- </div> -->
            </div>
        <div class="div col-2"></div>
    </div>
<!-- </div> -->

{% endblock %}