{% extends "base.html" %}
{% block content %}

<div class="div container-fluid">
    <div class="div row">
        <div class="div col-2"></div>
            <div class="div col-8"><h3 class="text-center">Here comes a bunch of happy albums for your mood!</h3></div>
        <div class="div col-2"></div>
    </div>

    <!-- <div class="row">
        <div class="div col-2"></div>
            <div class="col-lg-8 text-center">albums are gonna be right here -->


            <div class="row">
                <div class="div col-2"></div>           
                    <div class="col-lg-8 text-center">
                        {% for happy in happy %}
                            {{ happy.artist }}<br>
                            {{ happy.title }}<br>
                            {{ happy.mood }}<br>
                            {{ happy.genre }}<br>
                            {{ happy.year }}<br>
                            {{ happy.is_fav }}<br>
                            {{ happy.artwork }}<br>
                            {{ happy.spotify }}<br>
                            {{ happy.spotify1 }}<br>
                        {% endfor %}  
                    </div>
            <!-- </div> -->
            </div>
        <div class="div col-2"></div>
    </div>
<!-- </div> -->

{% endblock %}

<iframe src="https://open.spotify.com/embed/album/6EVYTRG1drKdO8OnIQBeEj" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>