{% extends "base.html" %}
{% block content %}

    <!-- <div class="row container-fluid text-center">
        <div class="col-lg-6"><p><h4>WHAT IS MOODSIC?</h4></p>
        <p>You are in the mood for music but don't know which album to pick?<br>
        This is where MOODSIC comes in handy.<br>
        Pick you mood from the dropdown menu above and let us do the rest
        </p>
        </div>
        
        <div class="col-lg-6"><p><h4>WHY MOODSIC?</h4></p>
        <p>Sometimes you just want a quick decision without wasting any time.<br>
        MOODSIC helps you with exactly this - quick and to the point recommendations.<br>
        Kick off your shoes, roll up your sleeves - you decide. We've got MOODSIC to match it.<br>
        </p>
        </div>
    </div> -->


<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0 collapse">
        <button class="btn btn-link btn-block text-center" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          WHAT IS MOODSIC?
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body text-center">
        <p>You are in the mood for music but don't know which album to pick?<br>
        This is where MOODSIC comes in handy.<br>
        Pick your mood from the dropdown menu above and let us do the rest
        </p>      
        </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          WHY MOODSIC?
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body text-center">
        <p>Sometimes you just want a quick decision without wasting any time.<br>
        MOODSIC helps you with exactly this - quick and to the point recommendations.<br>
        Kick off your shoes, roll up your sleeves - you decide. We've got MOODSIC to match it.<br>
        </p>      
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          HELL YEAH!
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body text-center">
        <p>Sometimes you just want a quick decision without wasting any time.<br>
        MOODSIC helps you with exactly this - quick and to the point recommendations.<br>
        Kick off your shoes, roll up your sleeves - you decide. We've got MOODSIC to match it.<br>
        </p>      
      </div>
    </div>
  </div>
</div>

<!-- <script src="static/js/script.js"></script> -->


    {% for mood in mood %}
        {{ mood.Happy }}<br>
        {{ mood.Excited }}<br>
        {{ mood.Bad }}<br>
        {{ mood.Thoughtful }}<br>
        {{ mood.Hurt }}<br>
        {{ mood.Angry }}<br>
    {% endfor %}    

{% endblock %}
